<form id="chat-generator">
  <input type="text" name="message" placeholder="message">
  <input type="submit" name="name" value="Send!">
  <input type="text" name="username" placeholder="username" style="visibility:hidden">

  <ul id="chats-display">

  </ul>
</form>
