<div class="navbar row column">
  <div class="toggleprofilelist">Show All Profiles</div>
  <div class="toggleprojectlist">Show All Projects</div>
  <div class="openprofile">Show Your Profile</div>
  <div class="editprofile">Edit Your Profile</div>
  <form id="log-out">
    <button type="submit" value="log-out">Log Out</button>
  </form>
</div>
