<h2>Fill your profile info</h2>
    <form id='getData'>
      <input type="text" name="name" placeholder="First Name"><br>
      <input type="text" name="lastname" placeholder="Last Name"><br>
      <input type="date" name="bday" placeholder="Birthdate"><br>
      <select name="zodiac">
        <option value="Aries">Aries</option>
        <option value="Taurus">Taurus</option>
        <option value="Gemini">Gemini</option>
        <option value="Cancer">Cancer</option>
        <option value="Leo">Leo</option>
        <option value="Virgo">Virgo</option>
        <option value="Libra">Libra</option>
        <option value="Scorpio">Scorpio</option>
        <option value="Sagittarius">Sagittarius</option>
        <option value="Capricorn">Capricorn</option>
        <option value="Aquarius">Aquarius</option>
        <option value="Pisces">Pisces</option>
      </select><br>
      <input type="text" name="bloodtype" placeholder="Blood Type"><br>
      <input type="text" name="placeOfBirth" placeholder="Hometown"><br>
      <input type="text" name="currentCity" placeholder="Current City"><br>
      <input type="text" name="gender" placeholder="Gender"><br>
      <input type="text" name="languages" placeholder="Languages"><br>
      <input type="text" name="favoriteBook" placeholder="Favorite Book"><br>
      <input type="text" name="favoriteSong" placeholder="Favorite Song"><br>
      <input type="text" name="favoriteMovie" placeholder="Favorite Movie"><br>
      <input type="text" name="favoriteFood" placeholder="Favorite Food"><br>
      <input type="text" name="favoriteTvShow" placeholder="Favorite TV Show"><br>
      <input type="text" name="gitHub" placeholder="GitHub Username"><br>
      <input type="text" name="linkedIn" placeholder="LinkedIn Username"><br>
      <input type="text" name="facebook" placeholder="Facebook Shortcut"><br>
      <input type="text" name="twitter" placeholder="Twitter Handle"><br>
      <input type="text" name="instagram" placeholder="Instagram Handle"><br>
      <input type="text" name="tumblr" placeholder="Tumblr Name"><br>
      <input type="text" name="website" placeholder="Website"><br>
      <input type="text" name="coding" placeholder="Coding"><br>
      <input type="text" name="group" placeholder="WDI Group Name"><br>
      <input type="text" name="graduate" placeholder="WDI Group Year"><br>
      <textarea rows="4" cols="50" name="bio" placeholder="Tell us about yourself!"></textarea><br>
      <input type='file' id="asd" />
      <input type="submit"  value="Save">
      <input type="hidden" name="url" id="url">
    </form>
<img id="img" src="" />
<div id="base"></div>
<div id="imgFromDB"></div>
