<form id='getProjectData'>
  <input type="text" name="projectName" placeholder="Project Name"><br>
  <input type="text" name="projectLanguage" placeholder="Language"><br>
  <input type="text" name="projectImg" placeholder="Image Link"><br>
  <input type="text" name="projectDescription" placeholder="Description"><br>
  <input type="text" name="projectGitHubLink" placeholder="GitHub Link (Path Only)"><br>
  <input type="text" name="projectPublicLink" placeholder="Public Link"><br>
  <input type="submit"  value="Save">
</form>
