<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
<title>Otter Chat</title>
<link rel="stylesheet" href="/css/styles.css">
<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/js/chat.js" charset="utf-8"></script>
  </head>
  <body>
    <h3 id='hello'></h3>
  <form id="chat-generator">
    <input type="text" name="message" placeholder="message">
    <input type="submit" name="name" value="Send!">
    <input type="text" name="username" placeholder="username" style="visibility:hidden">
    
    <ul id="chats-display">

    </ul>
  </form>
  </body>
</html>
