<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>

    <title>OtterStream</title>
  </head>
  <body>
    <div class="logincontain">
      <div class="row align-center logintop">
        <h1>Welcome to OtterStream</h1>
      </div>
      <div class="row align-center">
        <div class="large-5 columns auth-plain">
          <div class="signup-panel left-solid">
            <p class="welcome">Sign Up</p>
            <form id="sign-up" action="/api/users" method="post">
              <input class="small-10  columns" type="text" name="user[username]" placeholder="Username">
              <input class="small-10  columns" type="password" name="user[password]" placeholder="Password">
              <input type="submit" style="visibility: hidden;">
            </form>
          </div>
        </div>
        <div class="large-5 columns auth-plain">
          <div class="signup-panel left-solid">
            <p class="welcome">Log In</p>
            <form id="log-in">
              <input class="small-10  columns" type="text" name="username" placeholder="Username">
              <input class="small-10  columns" type="password" name="password" placeholder="Password">
              <input type="submit" style="visibility: hidden;">
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
