<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" charset="utf-8"></script>
    <script src="/js/scripts.js" charset="utf-8"></script>
    <title>OtterStream</title>
  </head>
  <body>
    Hi!
  </body>
</html>
