<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <title>Otterstream Profile</title>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="main">
      <% include ./partials/profileFormEdit %>
      <div class="profileform">
        <% include ./partials/profileForm %>
      </div>
      <div class="profile">
        <div class="profilehead">
          <div class="projectform">
            <% include ./partials/projects %>
            <div class="closeprojectform">Close</div>
          </div>
        </div>
        <div class="profilebody"></div>
        <div class="profilefooter">
          <div class="profileprojects row align-center">
            <div class="openprojectform row large-12 align-center">Add Project</div>
          </div>

        <div id="blog-chat-toggle">
          <div class="blog-toggle">
          		<input type="checkbox" name="one" id="item-1">
          		  <div class="blog-hide">
                  <div class="profileblog">
                    <% include ./partials/blog %>
                  </div>
                </div>
              <label id="Pro-Blog" for="item-1">+</label>
          </div>
        </div>


        </div>
      </div>
      <div class="profileModal">
        <div class="profileModalBody"></div>
        <div class="profileModalFooter">
          <div class="profileProjectsModal row align-center"></div>
          <div class="profileBlogModal"></div>
        </div>
      </div>
      <div class="profilelist row small-up-1 medium-up-2 large-up-6">
        <div class="globalblog"></div>
      </div>
      <div class="projectlist row small-up-1 medium-up-2 large-up-6"></div>
      <div class="project"></div>
      <div class="globalblogposts"></div>

    </div>
  </body>
</html>
