<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/js/scripts.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/styles.css">
</script>
    <title>Otterstream Profile</title>
  </head>
  <body>

<!-- //aleksa     -->
    <!-- <form id='form'>
          <input type="text" name="name" placeholder="name">
          <input type="submit" value="Submit">
        </form>
        <div id="avatar"></div> -->
<h2>Fill your profile info</h2>
    <form id='getData'>
      <input type="text" name="name" placeholder="First name"><br>
      <input type="text" name="lastname" placeholder="Last name"><br>
      <input type="date" name="bday"><br>
      <select name="zodiac">
        <option value="aries">Aries</option>
        <option value="taurus">taurus</option>
        <option value="gemini">Gemini</option>
        <option value="cancer">Cancer</option>
        <option value="leo">Leo</option>
        <option value="virgo">Virgo</option>
        <option value="libra">Libra</option>
        <option value="scorpio">Scorpio</option>
        <option value="sagittarius">Sagittarius</option>
        <option value="capricorn">Capricorn</option>
        <option value="aquarius">Aquarius</option>
        <option value="pisces">Pisces</option>
      </select><br>
      <input type="text" name="bloodtype" placeholder="blood type"><br>
      <input type="text" name="placeOfBirth" placeholder="place of birth"><br>
      <input type="text" name="currentCity" placeholder="current City"><br>
      <input type="text" name="favoriteBook" placeholder="favorite Book"><br>
      <input type="text" name="favoriteSong" placeholder="favorite Song"><br>
      <input type="text" name="favoriteMovie" placeholder="favorite Movie"><br>
      <input type="text" name="favoriteFood" placeholder="favorite Food"><br>
      <input type="text" name="favoriteTvShow" placeholder="favorite Tv Show"><br>
      <input type="radio" name="gender" value="male" checked> Male<br>
      <input type="radio" name="gender" value="female"> Female<br>
      <input type="radio" name="gender" value="other"> Other<br>
      <input type="text" name="gitHub" placeholder="GitHub"><br>
      <input type="text" name="linkedIn" placeholder="LinkedIn"><br>
      <input type="text" name="website" placeholder="Website"><br>
      <input type="text" name="facebook" placeholder="Facebook"><br>
      <input type="text" name="twitter" placeholder="Twitter"><br>
      <input type="text" name="instagram" placeholder="Instagram"><br>
      <input type="text" name="tumblr" placeholder="Tumblr"><br>
      <input type="text" name="languages" placeholder="Languages"><br>
      <input type="text" name="coding" placeholder="Coding"><br>
      <textarea rows="4" cols="50" name="bio" placeholder="Enter bio here..."></textarea><br>
      <input type='file' id="asd" />
      <input type="submit"  value="Save">
      <input type="hidden" name="url" id="url">
    </form>
<img id="img" src="" />
<div id="base"></div>
<div id="imgFromDB"></div>
</body>
</html>

<!-- //======aleksa ends -->
