<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <title>Otterstream Profile</title>
  </head>
  <body>

    <% include ./partials/header %>

    <div class="main">
      <div class="openprojectform">Add Project</div>
    </div>

    <div class="profileform">
      <% include ./partials/profileForm %>
      <div class="closeprojectform">Close</div>
    </div>

    <div class="projectform">
      <% include ./partials/projects %>
    </div>

    <% include ./partials/blog %>

    <div class="profile">
      <div class="projects">

      </div>
      <div class="blog">

      </div>
    </div>
    <div class="profilelist">

    </div>
    <div class="projectlist">

    </div>
  </body>
</html>
