<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <title>Otterstream Profile</title>
  </head>
  <body>

    <% include ./partials/header %>

    <div class="main">
      <div class="toggleprofilelist">Show All Profiles</div>
      <div class="toggleprojectlist">Show All Projects</div>
      <div class="profile">
        <div class="profileform">
          <% include ./partials/profileForm %>
        </div>
        <div class="profilehead">
          <div class="openprojectform">Add Project</div>
          <div class="projectform">
            <% include ./partials/projects %>
            <div class="closeprojectform">Close</div>
          </div>
        </div>
        <div class="profilebody"></div>
        <div class="profilefooter">
          <div class="profileprojects"></div>
          <div class="profileblog">
            <% include ./partials/blog %>
          </div>
        </div>
      </div>
      <div class="profilelist">
        <div class="globalblog"></div>
      </div>
      <div class="project"></div>
      <div class="projectlist"></div>
      <div class="globalblogposts"></div>
      <div class="profileModal">
        <div class="profileModalBody"></div>
        <div class="profileModalFooter">
          <div class="profileProjectsModal"></div>
          <div class="profileBlogModal"></div>
        </div>
      </div>
    </div>
  </body>
</html>
