<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <title>Otterstream Profile</title>
  </head>
  <body>

    <% include ./partials/header %>

    <% include ./partials/profileForm %>

    <% include ./partials/projects %>

    <% include ./partials/blog %>

    <div class="profile">
      <div class="projects">

      </div>
      <div class="blog">

      </div>
    </div>
    <div class="profilelist">

    </div>
    <div class="projectlist">

    </div>
  </body>
</html>
