<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="/js/scripts.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Otterstream Profile</title>
  </head>
  <body>
    <script>


      // This is called with the results from from FB.getLoginStatus().
      function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
          // Logged into your app and Facebook.
          // testAPI();
        } else if (response.status === 'not_authorized') {
          // The person is logged into Facebook, but not your app.
          document.getElementById('status').innerHTML = 'Please log ' +
            'into this app.';
        } else {
          // The person is not logged into Facebook, so we're not sure if
          // they are logged into this app or not.
          document.getElementById('status').innerHTML = 'Please log ' +
            'into Facebook.';
        }
      }

      // This function is called when someone finishes with the Login
      // Button.  See the onlogin handler attached to it in the sample
      // code below.
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
          window.location.href = '/profile';
        });
      }

      window.fbAsyncInit = function() {
      FB.init({
        appId      : '1499610890345471',
        cookie     : true,  // enable cookies to allow the server to access
                            // the session
        // status     : true,
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.2' // use version 2.2
      });

      // Now that we've initialized the JavaScript SDK, we call
      // FB.getLoginStatus().  This function gets the state of the
      // person visiting this page and can return one of three states to
      // the callback you provide.  They can be:
      //
      // 1. Logged into your app ('connected')
      // 2. Logged into Facebook, but not your app ('not_authorized')
      // 3. Not logged into Facebook and can't tell if they are logged into
      //    your app or not.
      //
      // These three cases are handled in the callback function.

      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);

        FB.api('/me', {fields: 'id,birthday,bio,last_name,first_name,picture' }, function(response) {
          console.log(response, "im heeeeere");
          $('#getData').find('input[name="name"]').val(response.first_name);
          $('#getData').find('input[name="lastname"]').val(response.last_name);
          $('#getData').find('input[name="bday"]').val(response.birthday);
          $('#getData').find('input[name="bio"]').val(response.bio);
          $('#getData').find('input[name="img"]').val(response.picture.data.url);
        });
      });
      };

      // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      // Here we run a very simple test of the Graph API after login is
      // successful.  See statusChangeCallback() for when this call is made.
    </script>

    <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div>
    
<!--===========end chris======== -->
<!--=======clint=============-->
<!-- <script>function tokenCaller() {
    if($.cookie('token')){
      $('.token').show();
    } else {
      window.location.href = '/';
    }
    };
    tokenCaller();
    </script> -->
<!--===========end clint======== -->

<form id="log-out">
  <button type="submit" value="log-out">Log Out</button>
</form>

<!--=======aleksa=============-->

<h2>Fill your profile info</h2>
    <form id='getData'>
      <input type="text" name="name" placeholder="First name" value=''><br>
      <input type="text" name="lastname" placeholder="Last name"><br>
      <input type="date" name="bday"><br>
      <select name="zodiac">
        <option value="aries">Aries</option>
        <option value="taurus">taurus</option>
        <option value="gemini">Gemini</option>
        <option value="cancer">Cancer</option>
        <option value="leo">Leo</option>
        <option value="virgo">Virgo</option>
        <option value="libra">Libra</option>
        <option value="scorpio">Scorpio</option>
        <option value="sagittarius">Sagittarius</option>
        <option value="capricorn">Capricorn</option>
        <option value="aquarius">Aquarius</option>
        <option value="pisces">Pisces</option>
      </select><br>
      <input type="text" name="bloodtype" placeholder="blood type"><br>
      <input type="text" name="placeOfBirth" placeholder="place of birth"><br>
      <input type="text" name="currentCity" placeholder="current City"><br>
      <input type="text" name="favoriteBook" placeholder="favorite Book"><br>
      <input type="text" name="favoriteSong" placeholder="favorite Song"><br>
      <input type="text" name="favoriteMovie" placeholder="favorite Movie"><br>
      <input type="text" name="favoriteFood" placeholder="favorite Food"><br>
      <input type="text" name="favoriteTvShow" placeholder="favorite Tv Show"><br>
      <input type="text" name="gender" placeholder="Gender"><br>
      <input type="text" name="gitHub" placeholder="GitHub"><br>
      <input type="text" name="linkedIn" placeholder="LinkedIn"><br>
      <input type="text" name="website" placeholder="Website"><br>
      <input type="text" name="facebook" placeholder="Facebook"><br>
      <input type="text" name="twitter" placeholder="Twitter"><br>
      <input type="text" name="instagram" placeholder="Instagram"><br>
      <input type="text" name="tumblr" placeholder="Tumblr"><br>
      <input type="text" name="languages" placeholder="Languages"><br>
      <input type="text" name="coding" placeholder="Coding"><br>
      <input type="text" name="group" placeholder="group name"><br>
      <input type="text" name="graduate" placeholder="graduate year"><br>
      <textarea rows="4" cols="50" name="bio" placeholder="Enter bio here..."></textarea><br>
      <input type='file' id="asd" />
      <input type="submit"  value="Save">
      <input type="hidden" name="url" id="url">
    </form>
<img id="img" src="" />
<div id="base"></div>
<div id="imgFromDB"></div>
<!-- //======aleksa ends=======-->
<!-- CLINT START -->
<div class="token">
  THIS USER HAS A TOKEN
  Token:
</div>

<div class="profile">

</div>

</body>
</html>
