body {
  background-color: darkturquoise;
}

.profilelist img {
  height: 100px;
}

.profilelist {
  display: none;
}

.project {
  display: none;
}

.projectlist {
  display: none;
}

.projectlist * {
  display: inline-block;
}

.profilelist * {
  display: inline-block;
}

.profileform {
  display: none;
}

.projectform {
  display: none;
  position: absolute;
  top: 20%;
  left: 30%;
  height: 20em;
  box-shadow: 10px 5px 0px black;
  background-color: red;
}
