body {
  background-color: darkturquoise;
}

.profilelist img {
  height: 100px;
}

.profilelist, .profileModal, .project, .projectlist, .profileform, .projectform {
  display: none;
}

.projectlist * {
  display: inline-block;
}

.profilelist * {
  display: inline-block;
}

.profileModal {
  position: absolute;
  top: 40%;
  left: 30%;
  height: 20em;
  width: 40%;
  box-shadow: 10px 5px 5px black;
  background-color: yellow;
}


.projectform {
  position: absolute;
  top: 20%;
  left: 30%;
  height: 20em;
  box-shadow: 10px 5px 5px black;
  background-color: red;
}
