body {
  background-color: darkturquoise;
}

a {
  color: dimgrey;
}

.chat-toggle {
  top:0;
  position: fixed;
}

.profilelist, .profileModal, .project, .projectlist, .profileform, .projectform, .editprofileform {
  display: none;
}

.projectlist *,  .profilelist *, .navbar * {
  display: inline-block;
}

.profileModal {
  position: fixed;
  top: 40%;
  left: 30%;
  max-height: 100%;
  width: 40%;
  box-shadow: 10px 5px 5px black;
  background-color: mediumturquoise;
}

.projectform {
  position: fixed;
  top: 10%;
  left: 38%;
  max-height: 100%;
  width: 375px;
  box-shadow: 10px 5px 5px black;
  background-color: mediumturquoise;
  padding: 10px;
}

.profilelist img, .projectlist img, .profileproject img {
  height: 100px;
}

.profileimg {
  height: 550px;
  background-color: lightseagreen;
}

.biodeets {
  height: 550px;
  background-color: darkgray;
}

.persondeets {
  text-align: right;
  background-color: darkgray;
}

.profdeets {
  background-color: lightseagreen;
}


/*BLOG AND CHAT TOGGLES*/
#blog-chat-toggle{
  position: fixed;
  top: 62%;
  left: 70%;
  width: 60%;
  max-height: 50%;
}

/*blog toggle*/
#Pro-Blog {
  float: right;
  bottom: 0;
  right: 0;
  position: fixed;
  border-radius: 50%;
  background-color: darkgray;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  text-align: center;
}

#item-1 {
display: none;
}
.blog-hide {
	width:50%;
	background:whitesmoke;
	max-height:999em;
	opacity:1;
	height:auto;
	overflow:hidden;
	transition:opacity .5s linear;
}

#item-1[type=checkbox]:checked + div {
	opacity:0;
	max-height:0;
	border:none;
	transition:opacity .5s linear, max-height .5s linear;
}

#chat-generator{
    position: fixed;
    top: 0;
    left: 70%;
    width: 60%;
    max-height: 50%;
}

#Pro-Chat {
  float: right;
  top: 0;
  right: 0;
  position: fixed;
  border-radius: 50%;
  background-color: darkgray;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  text-align: center;
}

#item-2 {
	display: none;
}

.chat-hide {
  width:50%;
	background:whitesmoke;
	max-height:999em;
	opacity:1;
	height:auto;
	overflow:hidden;
	transition:opacity .5s linear;
}

.chat-hide p {
	padding:10px;
	margin:0
}

#item-2[type=checkbox]:checked + div {
	opacity:0;
	max-height:0;
	border:none;
}

#chats-display{
  width:100%;
  overflow: scroll;
}

.profileblogpost:nth-child(odd) {
  background-color: silver;
}
